<div class="main">

  <div class="image-container">
    @if (viewer.current()) {
      <img
        class="main-image"
        [src]="`/api/photos/${viewer.current()!.id}`"
        (touchstart)="onTouchStart($event)"
        (touchend)="onTouchEnd($event)"
      />
    }
  </div>

  @if (viewer.current()) {
    <div class="info">
      @if (viewer.current().takenAt) {
        <div class="date">
          {{ viewer.current().takenAt | date:'yyyy-MM-dd HH:mm' }}
        </div>
      }

      @if (viewer.current().description) {
        <div class="desc">
          {{ viewer.current().description }}
        </div>
      }
    </div>
  }
